<nav class="sidebar sidebar-bunker">
  <div class="sidebar-header">
    <!--<a href="index.html" class="logo"><span>bd</span>task</a>-->
    <a href="/" class="logo"><img src="/images/main/logo.png" alt="logo" /></a>
  </div>

  <div class="sidebar-body">
    <nav class="sidebar-nav">
      <ul class="metismenu">
        <li class="nav-label">Main Menu</li>
        <li class="<% if(page == 'dashboard') { %>mm-active<% }%>">
          <a href="/admin">
            <i class="typcn typcn-home-outline mr-2"></i>
            Dashboard
          </a>
        </li>
        <li class="<% if(page == 'about') { %>mm-active<% }%>">
          <a href="/admin/about">
            <i class="typcn typcn-info-large-outline mr-2"></i>
            About
          </a>
        </li>

        <li>
          <a class="has-arrow material-ripple" href="#">
            <i class="typcn typcn-mortar-board mr-2"></i>
            Teacher
          </a>
          <ul class="nav-second-level">
            <li class="<% if(page == 'teacherTable') { %>mm-active<% }%>">
              <a href="/admin/teacher/table">Table</a>
            </li>
            <li class="<% if(page == 'teacherForm') { %>mm-active<% }%>">
              <a href="/admin/teacher/add">Add teacher</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow material-ripple" href="#">
            <i class="typcn typcn-news mr-2"></i>
            News
          </a>
          <ul class="nav-second-level">
            <li class="<% if(page == 'newsTable') { %>mm-active<% }%>">
              <a href="/admin/news/table">Table</a>
            </li>
            <li class="<% if(page == 'newsForm') { %>mm-active<% }%>">
              <a href="/admin/news/add">Add news</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow material-ripple" href="#">
            <i class="typcn typcn-tags mr-2"></i>
             Courses
          </a>
          <ul class="nav-second-level">
            <li class="<% if(page == 'courseTable') { %>mm-active<% }%>">
              <a href="#">Table</a>
            </li>
            <li class="<% if(page == 'courseForm') { %>mm-active<% }%>">
              <a href="#">Add course</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow material-ripple" href="#">
            <i class="typcn typcn-contacts mr-2"></i>
            Contact & Comments
          </a>
          <ul class="nav-second-level">
            <li class="">
              <a href="contact">Contact</a>
            </li>
            <li class="">
              <a href="comments">Comments</a>
            </li>
          </ul>
        </li>
        <li class="nav-label">Pages</li>

        <li class="">
          <a href="aboutus"
            ><i class="typcn typcn-info-large mr-2"></i>AboutUs</a
          >
        </li>
        <li>
          <a class="has-arrow material-ripple" href="#"
            ><i class="typcn typcn-contacts mr-2"></i>Portfolio</a
          >
          <ul class="nav-second-level">
            <li class="">
              <a href="portfolio">Portfolio</a>
            </li>
            <li class="">
              <a href="service">Services</a>
            </li>
            <li class="">
              <a href="mywork">My works</a>
            </li>
            <li class="">
              <a href="knowledge">Knowledge</a>
            </li>
          </ul>
        </li>
        <li class="nav-label">Extra</li>
        <li>
          <a class="has-arrow material-ripple" href="#">
            <i class="typcn typcn-flash-outline mr-2"></i>
            SEO
          </a>
          <ul class="nav-second-level">
            <li><a href="#">Main Page</a></li>
            <li><a href="#">Post Page</a></li>
            <li><a href="#">Course Page</a></li>
            <li><a href="#">Book Page</a></li>
            <li><a href="#">About Page</a></li>
            <li><a href="#">Partfolio</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow material-ripple" href="#">
            <i class="typcn typcn-link-outline mr-2"></i>
            Advertisement
          </a>
          <ul class="nav-second-level">
            <li><a href="#">Main Page</a></li>
            <li><a href="#">Post Page</a></li>
            <li><a href="#">Course Page</a></li>
            <li><a href="#">Book Page</a></li>
          </ul>
        </li>

        <li>
          <a href="blank-page.html" aria-expanded="true"
            ><i class="typcn typcn-bookmark mr-2"></i>Blank page</a
          >
        </li>
        <li>
          <a href="blank-page.html" aria-expanded="true"
            ><i class="typcn typcn-bookmark mr-2"></i>Blank page</a
          >
        </li>
        <li>
          <a href="blank-page.html" aria-expanded="true"
            ><i class="typcn typcn-bookmark mr-2"></i>Blank page</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <!-- sidebar-body -->
</nav>
<div class="overlay"></div>
