<div class="row navbar">
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="hamb" onclick="add()">
            <img src="/images/main/menu.svg" alt="" id="hamb">
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 d-flex justify-content-center">
        <a href="/" class="logo">      
            <img src="/images/main/logo.png" alt="">
        </a>
    </div>
</div>