<div class="menu" id="menu">
    <div class="logon">
        <img src="/images/main/logo.png" alt="">
    </div>
    <div class="close" onclick="remove()">
        <img src="/images/main/close.svg" alt="" id="close">
    </div>
    <ul class="nav-list">
        <li><a href="/" class="actives">Bosh sahifa</a></li>
        <li><a href="/news">Yangiliklar</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/kurslar">Kurslar</a></li>
        <li><a href="/about">Biz haqimizda</a></li>
        <li><a href="/test">Test topshirish</a></li>
        <li><a href="/aloqa">Aloqa</a></li>
    </ul>
</div>